/*Mixins*/
/*Variables*/
html {
  font-family: "VT323", monospace;
  background-color: black; }

body {
  background-color: #e6e6e6; }

/*====Navbar===========================================*/
.navbar {
  height: 13vh;
  background-color: black;
  margin-bottom: 0; }
  .navbar .navbar-brand {
    height: 13vh;
    -o-object-fit: contain;
    object-fit: contain; }
    .navbar .navbar-brand img {
      height: 100%;
      margin: 0 25px; }
  .navbar ul {
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 15%; }
    .navbar ul :first-child {
      margin-left: 35px; }
    .navbar ul :nth-child(2) {
      margin-right: 10px; }
    .navbar ul .albums :first-child {
      margin-left: 0; }
    .navbar ul li {
      position: relative;
      font-family: "VT323", monospace;
      margin-right: 50px;
      z-index: 10; }
      .navbar ul li a {
        font-size: 32px;
        margin: auto; }
  .navbar .albums {
    top: 50px;
    left: 20px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0; }
    .navbar .albums li {
      width: 100%; }
      .navbar .albums li a {
        text-shadow: 2px 2px white;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s; }
  .navbar .dropdown:hover .dropdown-menu {
    max-height: 300px;
    opacity: 1; }
  .navbar .buttonContainer {
    display: none;
    cursor: pointer;
    float: right; }
    .navbar .buttonContainer .buttonBurger {
      width: 35px;
      height: 5px;
      background-color: white;
      margin: 6px 0; }

/*===OpacityContainerDiv====================================*/
.opacityContainerDiv {
  -webkit-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  background-color: black; }

/*====bannerImage===========================================*/
.bannerImage {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.1))), url(../images/RichardDJames.jpg);
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url(../images/RichardDJames.jpg);
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url(../images/RichardDJames.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url(../images/RichardDJames.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 0;
  height: 80vh;
  position: relative;
  z-index: 1; }
  .bannerImage .blurb {
    display: inline-block;
    width: 30%;
    position: absolute;
    top: 10%;
    left: 5%; }
    .bannerImage .blurb h2 {
      font-family: "VT323", monospace;
      color: white;
      text-shadow: 2px 2px 4px black; }
    .bannerImage .blurb p {
      font-family: 'VT323', monospace;
      color: white;
      text-shadow: 2px 2px 4px black;
      font-size: 16px; }

/*=====Footer================*/
.footer .row {
  background-color: black; }
  .footer .row footer {
    height: 10vh;
    background-color: black;
    padding-left: 20px; }

/*================SideNav========================*/
#sideNav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  padding-top: 15%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  #sideNav .navbar-brand {
    float: none;
    -o-object-fit: contain;
    object-fit: contain;
    position: absolute;
    top: 0%;
    height: 13%; }
    #sideNav .navbar-brand img {
      height: 100%;
      margin: 0 25px; }
  #sideNav ul {
    margin-top: 10%;
    padding-left: 20px; }
    #sideNav ul li {
      list-style-type: none;
      float: left;
      width: 100%; }
    #sideNav ul a {
      padding: 8px 8px 8px 16px;
      text-decoration: none;
      font-size: 25px;
      font-family: "VT323", monospace;
      display: block;
      -webkit-transition: 1s;
      -o-transition: 1s;
      transition: 1s;
      color: white; }
    #sideNav ul .albums {
      top: 50px;
      left: 20px;
      -webkit-transition: all 1s;
      -o-transition: all 1s;
      transition: all 1s;
      max-height: 0;
      display: block;
      overflow: hidden;
      opacity: 0;
      margin-top: 0;
      position: static;
      padding-left: 0; }
      #sideNav ul .albums li a {
        color: black;
        text-shadow: 2px 2px white; }
    #sideNav ul .dropdown:hover .dropdown-menu {
      max-height: 200px;
      opacity: 1; }

/*============================================================aphexTwinfoAlbums==============================================================*/
/*button1==================================*/
.buttonContainer {
  display: none;
  cursor: pointer;
  float: right; }
  .buttonContainer .buttonBurger {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0; }

/*Banner====================================*/
.bannerImageAlbums {
  background-image: url(../images/albumsBanner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }
  .bannerImageAlbums .albumsNavContainer {
    height: 100vh;
    position: relative; }
    .bannerImageAlbums .albumsNavContainer .albumsNav {
      list-style-type: none;
      position: absolute;
      top: 75%;
      left: -8%;
      height: 15%;
      width: 90%; }
      .bannerImageAlbums .albumsNavContainer .albumsNav li {
        float: left;
        font-family: "VT323", monospace;
        margin-left: 10%;
        font-size: 32px;
        position: relative;
        top: 35%;
        z-index: 10; }
        .bannerImageAlbums .albumsNavContainer .albumsNav li a {
          color: white;
          text-decoration: none; }
      .bannerImageAlbums .albumsNavContainer .albumsNav .albums {
        top: 50px;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        max-height: 0;
        display: block;
        overflow: hidden;
        opacity: 0;
        margin-top: 0;
        position: absolute; }
        .bannerImageAlbums .albumsNavContainer .albumsNav .albums li {
          width: 100%;
          margin: 0; }
          .bannerImageAlbums .albumsNavContainer .albumsNav .albums li a {
            color: black;
            -webkit-transition: 1s;
            -o-transition: 1s;
            transition: 1s; }
        .bannerImageAlbums .albumsNavContainer .albumsNav .albums #myPlaylistLinkClear {
          clear: left; }
      .bannerImageAlbums .albumsNavContainer .albumsNav .dropdown:hover .dropdown-menu {
        max-height: 200px;
        opacity: 1; }
    .bannerImageAlbums .albumsNavContainer #listOpacityDiv {
      height: 15vh;
      width: 90vw;
      background-color: black;
      position: relative;
      top: 75%;
      opacity: 0.4; }

/*Album1================================*/
#selectedAmbientWorks85-92 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.1))), url("../images/selectedAmbientWorksBackground.jpg");
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url("../images/selectedAmbientWorksBackground.jpg");
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url("../images/selectedAmbientWorksBackground.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url("../images/selectedAmbientWorksBackground.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center; }

#selectedAmbientWorks85-92Style {
  background-image: url("../images/selectedAmbientWorksBackground.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center; }

.Album .h2OpacityDiv {
  height: 5vh;
  margin: 1% 0 1% 0;
  z-index: 1;
  position: relative; }

.Album h2 {
  position: absolute;
  font-family: "VT323", monospace;
  color: white;
  text-shadow: 2px 2px black;
  z-index: 9;
  margin: 0; }

.Album #pOpacityDiv {
  height: 45vh;
  width: 100%;
  position: relative;
  z-index: 1; }

.Album p {
  position: absolute;
  font-family: "VT323", monospace;
  color: white;
  text-shadow: 2px 2px black;
  z-index: 10;
  font-size: 18px;
  margin: 20px; }

#selectedAmbientWorksVolumeII {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.1))), url("../images/Aphex-Twin-Selected-Ambient-Works-Volume-II.jpg");
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url("../images/Aphex-Twin-Selected-Ambient-Works-Volume-II.jpg");
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url("../images/Aphex-Twin-Selected-Ambient-Works-Volume-II.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url("../images/Aphex-Twin-Selected-Ambient-Works-Volume-II.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

#selectedAmbientWorksVolumeIIStyle {
  background-image: url("../images/Aphex-Twin-Selected-Ambient-Works-Volume-II.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

#drucqs {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.1))), url("../images/drukqsBackground.png");
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url("../images/drukqsBackground.png");
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url("../images/drukqsBackground.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url("../images/drukqsBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

#drukqsStyle {
  background-image: url("../images/drukqsBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

#myPlaylist {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.1))), url("../images/aphexTestLogos.jpg");
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url("../images/aphexTestLogos.jpg");
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url("../images/aphexTestLogos.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url("../images/aphexTestLogos.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

#myPlaylistStyle {
  background-image: url("../images/aphexTestLogos.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

.albumiFrame {
  height: 45vh;
  width: 100%; }

/*============================================================aphexTwinfoBio==============================================================*/
html {
  background-color: #dbd6d8; }

/*====Navbar========*/
.navbarBio {
  padding: 0;
  position: absolute;
  top: -6vh;
  z-index: 10;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  width: 100%; }
  .navbarBio .navbarBioRow {
    height: 7vh; }
    .navbarBio .navbarBioRow .navbarWarpLogo {
      display: inline-block;
      padding: 0;
      height: 100%;
      width: 50%;
      float: left;
      background-color: #8f1fff; }
      .navbarBio .navbarBioRow .navbarWarpLogo img {
        -o-object-fit: contain;
        object-fit: contain;
        height: 100%; }
    .navbarBio .navbarBioRow .bioNavLinks {
      padding: 0;
      height: 100%;
      width: 50%;
      background-color: white;
      float: left; }
      .navbarBio .navbarBioRow .bioNavLinks ul {
        height: 100%;
        list-style-type: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        .navbarBio .navbarBioRow .bioNavLinks ul li {
          float: left;
          padding: 2%; }
          .navbarBio .navbarBioRow .bioNavLinks ul li a {
            font-weight: bold;
            font-size: 18px; }
      .navbarBio .navbarBioRow .bioNavLinks #menu {
        display: none; }
  .navbarBio #blackLine {
    background-color: black;
    height: 1.5vh; }

/*==========Mobile Navbar================*/
.mobileNavbar {
  display: none;
  position: fixed;
  top: 8vh;
  margin-left: 1.5%;
  width: 100%;
  z-index: 10; }
  .mobileNavbar .mobileNavbarContent {
    padding: 0; }
    .mobileNavbar .mobileNavbarContent #topNavbarLinks {
      background-color: white; }
      .mobileNavbar .mobileNavbarContent #topNavbarLinks ul {
        padding: 0;
        margin-bottom: 0; }
        .mobileNavbar .mobileNavbarContent #topNavbarLinks ul li {
          list-style-type: none;
          border-top: 0.2px solid grey;
          border-bottom: 0.2px solid grey;
          padding: 1.75% 0 1.75% 0; }
          .mobileNavbar .mobileNavbarContent #topNavbarLinks ul li a {
            color: black;
            font-family: Helvetica, Arial, sans-serif;
            font-size: 16px;
            font-weight: bold;
            padding-left: 2.5%; }
    .mobileNavbar .mobileNavbarContent #bottomNavbarLinks {
      background-color: black; }
      .mobileNavbar .mobileNavbarContent #bottomNavbarLinks ul {
        padding: 0;
        z-index: 125; }
        .mobileNavbar .mobileNavbarContent #bottomNavbarLinks ul li {
          list-style-type: none;
          border-top: 0.2px solid grey;
          padding: 1.75% 0 1.75% 0;
          z-index: 20; }
          .mobileNavbar .mobileNavbarContent #bottomNavbarLinks ul li a {
            color: white;
            font-family: Helvetica, Arial, sans-serif;
            font-size: 16px;
            font-weight: bold;
            padding-left: 2.5%; }

/*==========Banner=======================*/
.bannerImageBio {
  height: 110vh;
  background-image: url(../images/bioBannerFinished.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  top: -11vh; }

/*================Biography=================*/
.biography {
  background-color: #e6e6e6;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 24px; }
  .biography .biographyRow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .biography .biographyRow .biographyBio {
      background-color: white;
      margin: 0.5%; }
      .biography .biographyRow .biographyBio #bioGlyph {
        padding-top: 5vh; }
        .biography .biographyRow .biographyBio #bioGlyph .glyphicon-asterisk {
          font-size: 200%;
          display: block;
          text-align: center; }
      .biography .biographyRow .biographyBio #biographyP {
        display: block;
        text-align: center;
        margin-bottom: 5%; }
        .biography .biographyRow .biographyBio #biographyP p {
          font-size: 42px; }
    .biography .biographyRow .biographyAphexTwin {
      background-color: white;
      padding: 0;
      margin: 0.5%;
      -ms-flex-item-align: end;
      align-self: flex-end; }
      .biography .biographyRow .biographyAphexTwin .biographyAphexTwinPic {
        height: 24vh;
        background-image: url(../images/bioBanner.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover; }
      .biography .biographyRow .biographyAphexTwin .biographyAphexTwinH3 {
        background-color: white;
        padding-left: 1%;
        height: 8vh;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }

/*============TwitterFacebook============*/
.twitterFacebook {
  background-color: #e6e6e6; }
  .twitterFacebook .twitterFacebookRow {
    background-color: white;
    padding: 0; }
    .twitterFacebook .twitterFacebookRow .extraHeight {
      height: 4vh; }
    .twitterFacebook .twitterFacebookRow div {
      padding: 3vh 0 3vh 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .twitterFacebook .twitterFacebookRow div span {
        padding-left: 4%; }
        .twitterFacebook .twitterFacebookRow div span p {
          display: inline-block;
          font-size: 32px;
          font-family: Helvetica, Arial, Sans-Serif;
          padding-left: 8%; }
      .twitterFacebook .twitterFacebookRow div .glyphicon {
        font-size: 26px; }

/*============SyroVideo==================*/
.syroVideo {
  background-color: #e6e6e6;
  margin: 1%; }
  .syroVideo .syroVideoRow {
    background-color: white;
    padding: 0; }
    .syroVideo .syroVideoRow div h3 {
      display: inline-block; }

/*==========MultipleBoxes==============*/
.multipleBoxes .multipleBoxesRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .multipleBoxes .multipleBoxesRow #multipleBoxesInterview {
    -ms-flex-preferred-size: 22.5%;
    flex-basis: 22.5%;
    background-color: white;
    height: 48vh;
    margin: 0% 0.5% 0% 0.5%; }
    .multipleBoxes .multipleBoxesRow #multipleBoxesInterview #multipleBoxesInterviewPic {
      height: 25vh;
      background-image: url(../images/interviewPic.jpg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover; }
    .multipleBoxes .multipleBoxesRow #multipleBoxesInterview #multipleBoxesInterviewText {
      height: 19vh; }
      .multipleBoxes .multipleBoxesRow #multipleBoxesInterview #multipleBoxesInterviewText p {
        padding-top: 5%; }
    .multipleBoxes .multipleBoxesRow #multipleBoxesInterview p {
      font-family: Helvetica, Arial, sans-serif;
      font-size: 19px;
      font-weight: bold;
      margin: 0;
      height: 4vh; }
  .multipleBoxes .multipleBoxesRow #multipleBoxesHeadliner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 35vh;
    background-color: white;
    -ms-flex-item-align: end;
    align-self: flex-end;
    -ms-flex-preferred-size: 24%;
    flex-basis: 24%;
    position: relative; }
    .multipleBoxes .multipleBoxesRow #multipleBoxesHeadliner #multipleBoxesHeadlinerText {
      height: 30vh;
      width: 100%; }
      .multipleBoxes .multipleBoxesRow #multipleBoxesHeadliner #multipleBoxesHeadlinerText p {
        padding-top: 5%; }
    .multipleBoxes .multipleBoxesRow #multipleBoxesHeadliner #date {
      width: 100%;
      height: 20%;
      -ms-flex-item-align: end;
      align-self: flex-end;
      position: absolute; }
    .multipleBoxes .multipleBoxesRow #multipleBoxesHeadliner p {
      font-family: Helvetica, Arial, sans-serif;
      font-size: 21px;
      font-weight: bold;
      padding-top: 9%; }
  .multipleBoxes .multipleBoxesRow #multipleBoxesHeadlinerPic {
    height: 35vh;
    -ms-flex-preferred-size: 24%;
    flex-basis: 24%;
    -ms-flex-item-align: end;
    align-self: flex-end;
    margin-right: 1%;
    background-image: url(../images/headlinerPic.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
  .multipleBoxes .multipleBoxesRow #multipleBoxesStockists {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 22.5%;
    flex-basis: 22.5%;
    height: 48vh;
    background-color: white;
    margin-left: 1%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .multipleBoxes .multipleBoxesRow #multipleBoxesStockists #multipleBoxesStockistsPic {
      height: 25vh;
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
      background-image: url(../images/stockistsPic.jpg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover; }
    .multipleBoxes .multipleBoxesRow #multipleBoxesStockists #multipleBoxesStockistsText {
      height: 19vh;
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%; }
      .multipleBoxes .multipleBoxesRow #multipleBoxesStockists #multipleBoxesStockistsText p {
        padding-top: 5%; }
    .multipleBoxes .multipleBoxesRow #multipleBoxesStockists p {
      font-family: Helvetica, Arial, sans-serif;
      font-size: 21px;
      font-weight: bold;
      width: 100%;
      height: 4vh; }
  .multipleBoxes .multipleBoxesRow #multipleBoxesCheetah {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    background-color: white;
    height: 48vh;
    margin: 1% 0 0 23.5%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative; }
    .multipleBoxes .multipleBoxesRow #multipleBoxesCheetah #multipleBoxesCheetahPic {
      width: 100%;
      height: 25vh;
      background-image: url(../images/cheetahPic.jpg);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover; }
    .multipleBoxes .multipleBoxesRow #multipleBoxesCheetah #multipleBoxesCheetahText {
      height: 19vh;
      width: 100%;
      padding-top: 5%; }
    .multipleBoxes .multipleBoxesRow #multipleBoxesCheetah p {
      font-family: Helvetica, Arial, sans-serif;
      font-size: 21px;
      font-weight: bold;
      width: 100%;
      height: 4vh; }
  .multipleBoxes .multipleBoxesRow #multipleBoxesBleep {
    height: 48vh;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 1% 0 0 1%; }
    .multipleBoxes .multipleBoxesRow #multipleBoxesBleep #multipleBoxesBleepPic {
      height: 25vh;
      width: 100%;
      background-image: url(../images/bleepPic.jpg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover; }
    .multipleBoxes .multipleBoxesRow #multipleBoxesBleep #multipleBoxesBleepText {
      height: 19vh;
      padding-top: 5%; }
    .multipleBoxes .multipleBoxesRow #multipleBoxesBleep p {
      font-family: Helvetica, Arial, sans-serif;
      font-size: 21px;
      font-weight: bold;
      width: 100%;
      height: 4vh; }

/*==============Artist News=============*/
.allArtistNews {
  margin: 0.5% 0.5% 0; }
  .allArtistNews .news {
    background-color: white;
    height: 10vh;
    padding: 0; }
    .allArtistNews .news div {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height: 100%;
      width: 100%; }
      .allArtistNews .news div p {
        margin: auto;
        font-size: 22px; }

/*============MultipleBoxes2===============*/
.multipleBoxes2 .multipleBoxes2Content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .multipleBoxes2 .multipleBoxes2Content .multipleBoxes2Div {
    height: 48vh;
    background-color: white;
    -ms-flex-preferred-size: 23%;
    flex-basis: 23%;
    margin: 0.5% 0% 0% 0.5%;
    position: relative; }
    .multipleBoxes2 .multipleBoxes2Content .multipleBoxes2Div .multipleBoxes2Pic {
      height: 80%; }
    .multipleBoxes2 .multipleBoxes2Content .multipleBoxes2Div .multipleBoxes2Text {
      position: absolute;
      height: 20%;
      width: 100%;
      overflow: hidden; }
      .multipleBoxes2 .multipleBoxes2Content .multipleBoxes2Div .multipleBoxes2Text p {
        font-family: Helvetica, Arial, sans-serif;
        font-size: 19px;
        font-weight: bold;
        width: 100%;
        height: 4vh; }
    .multipleBoxes2 .multipleBoxes2Content .multipleBoxes2Div #cheetah2Pic {
      background-image: url(../images/cheetahPic2.jpg);
      background-repeat: none;
      background-position: center center;
      background-size: cover; }
    .multipleBoxes2 .multipleBoxes2Content .multipleBoxes2Div #twoBPic {
      background-image: url(../images/Machromt30a.jpg);
      background-repeat: none;
      background-position: center center;
      background-size: cover; }
    .multipleBoxes2 .multipleBoxes2Content .multipleBoxes2Div #acousticPic {
      background-image: url(../images/acoustic.jpg);
      background-repeat: none;
      background-position: center center;
      background-size: cover; }
    .multipleBoxes2 .multipleBoxes2Content .multipleBoxes2Div #syroPic {
      background-image: url(../images/syro.jpg);
      background-repeat: none;
      background-position: center center;
      background-size: cover; }

/*======twoBands=============*/
.twoBands {
  margin: 3% 0% 0.5% 0%; }
  .twoBands .twoBandsContent {
    background-color: white;
    height: 13vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .twoBands .twoBandsContent #antiPop {
      float: left;
      width: 50%;
      height: 100%;
      overflow: hidden;
      white-space: nowrap;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .twoBands .twoBandsContent #antiPop p {
        margin: auto 0; }
    .twoBands .twoBandsContent #autechre {
      width: 50%;
      height: 100%;
      overflow: hidden;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end; }
      .twoBands .twoBandsContent #autechre p {
        margin: auto 0; }
    .twoBands .twoBandsContent p {
      font-size: 38px; }

/*==============Navbar Footer==================*/
.navbarFooter {
  padding: 0; }
  .navbarFooter .navbarFooterContent #footerNavLinks {
    background-color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    float: left;
    height: 10vh; }
    .navbarFooter .navbarFooterContent #footerNavLinks ul {
      margin: auto;
      list-style-type: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: relative;
      left: -10%; }
    .navbarFooter .navbarFooterContent #footerNavLinks li {
      float: left;
      font-size: 16px;
      font-weight: bold;
      margin-right: 3%;
      white-space: nowrap; }
      .navbarFooter .navbarFooterContent #footerNavLinks li a {
        color: white; }
  .navbarFooter .navbarFooterContent #warpNewsletter {
    background-color: #8f1fff;
    width: 50%;
    float: right;
    height: 10vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .navbarFooter .navbarFooterContent #warpNewsletter p {
      margin: auto;
      color: white;
      font-size: 16px;
      font-weight: bold; }

.container-fluid {
  padding: 0; }

/*==========================================================Media Queries============================================================*/
@media screen and (min-width: 2000px) and (min-height: 1200px) {
  .bannerImage .blurb h2 {
    font-size: 62px; }
  .bannerImage .blurb p {
    font-size: 28px; } }

@media screen and (min-width: 1700px) and (min-height: 1000px) {
  .bannerImage .blurb h2 {
    font-size: 42px; }
  .bannerImage .blurb p {
    font-size: 22px; } }

@media screen and (min-width: 1400px) {
  .Album h2 {
    top: 4%; } }

@media screen and (max-width: 1300px) {
  .multipleBoxes .multipleBoxesRow #multipleBoxesInterview {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%; }
  .multipleBoxes .multipleBoxesRow #multipleBoxesHeadliner {
    -ms-flex-preferred-size: 36%;
    flex-basis: 36%; }
  .multipleBoxes .multipleBoxesRow #multipleBoxesHeadlinerPic {
    -ms-flex-preferred-size: 36%;
    flex-basis: 36%; }
  .multipleBoxes .multipleBoxesRow #multipleBoxesStockists {
    -ms-flex-preferred-size: 32%;
    flex-basis: 32%;
    margin-top: 1%; }
  .multipleBoxes .multipleBoxesRow #multipleBoxesCheetah {
    -ms-flex-preferred-size: 32%;
    flex-basis: 32%;
    margin-left: 1%; }
  .multipleBoxes .multipleBoxesRow #multipleBoxesBleep {
    -ms-flex-preferred-size: 32%;
    flex-basis: 32%; }
  .multipleBoxes2 .multipleBoxes2Content .multipleBoxes2Div {
    -ms-flex-preferred-size: 31%;
    flex-basis: 31%; } }

@media screen and (min-width: 1200px) {
  .Album h2 {
    top: 4%; } }

@media screen and (max-width: 1050px) {
  .nav {
    display: none; }
  .navbar .buttonContainer {
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 10px; }
    .navbar .buttonContainer .buttonBurger {
      position: relative;
      z-index: 30; }
  .bannerImage .blurb {
    width: 45%; }
    .bannerImage .blurb h2 {
      font-size: 22px; }
    .bannerImage .blurb p {
      font-size: 12px; }
  .Album h2 {
    top: 1.5%; } }

@media screen and (max-width: 992px) {
  .Album h2 {
    top: 0%; }
  .biography .biographyRow {
    display: inline; }
  .multipleBoxes2 .multipleBoxes2Content .multipleBoxes2Div {
    -ms-flex-preferred-size: 35%;
    flex-basis: 35%; } }

@media screen and (max-width: 980px) {
  .multipleBoxes .multipleBoxesRow #multipleBoxesHeadliner {
    -ms-flex-preferred-size: 35%;
    flex-basis: 35%;
    margin-left: 12vw; }
  .multipleBoxes .multipleBoxesRow #multipleBoxesHeadlinerPic {
    -ms-flex-preferred-size: 35%;
    flex-basis: 35%;
    margin-right: 12vw; }
  .multipleBoxes .multipleBoxesRow #multipleBoxesStockists {
    -ms-flex-preferred-size: 35%;
    flex-basis: 35%;
    margin-left: 15vw; }
  .multipleBoxes .multipleBoxesRow #multipleBoxesCheetah {
    -ms-flex-preferred-size: 35%;
    flex-basis: 35%; }
  .multipleBoxes .multipleBoxesRow #multipleBoxesBleep {
    -ms-flex-preferred-size: 35%;
    flex-basis: 35%;
    margin: auto; } }

@media screen and (max-width: 975px) {
  .multipleBoxes .multipleBoxesRow #multipleBoxesInterview {
    -ms-flex-preferred-size: 35%;
    flex-basis: 35%;
    margin: 0% 32% 1% 32%;
    -ms-flex-item-align: start;
    align-self: flex-start; }
  .multipleBoxes .multipleBoxesRow #multipleBoxesHeadliner {
    -ms-flex-preferred-size: 35%;
    flex-basis: 35%;
    margin-left: 15vw; }
  .multipleBoxes .multipleBoxesRow #multipleBoxesHeadlinerPic {
    -ms-flex-preferred-size: 35%;
    flex-basis: 35%;
    margin-right: 13vw; } }

@media screen and (max-width: 900px) {
  .navbarBio .navbarBioRow .bioNavLinks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .navbarBio .navbarBioRow .bioNavLinks ul {
      display: none; }
    .navbarBio .navbarBioRow .bioNavLinks #menu {
      display: inline-block;
      margin: auto; }
      .navbarBio .navbarBioRow .bioNavLinks #menu p {
        font-family: Helvetica, Arial, sans-serif;
        font-size: 19px;
        font-weight: bold;
        float: left; }
      .navbarBio .navbarBioRow .bioNavLinks #menu #buttonContainerBio {
        float: left; }
        .navbarBio .navbarBioRow .bioNavLinks #menu #buttonContainerBio .buttonBurgerBio {
          width: 25px;
          height: 1px;
          background-color: black;
          margin: 6px 0; }
  .navbarFooter .navbarFooterContent #footerNavLinks {
    display: none; }
  .navbarFooter .navbarFooterContent #warpNewsletter {
    width: 100%; } }

@media screen and (max-width: 840px) {
  .sideNavWidth {
    width: 35% !important; }
  .bannerImage .blurb {
    width: 45%; }
    .bannerImage .blurb h2 {
      font-size: 22px; }
    .bannerImage .blurb p {
      font-size: 12px; } }

@media screen and (max-width: 800px) {
  .multipleBoxes .multipleBoxesRow #multipleBoxesInterview {
    -ms-flex-preferred-size: 60%;
    flex-basis: 60%;
    margin: 1% 18% 1% 18%; }
  .multipleBoxes .multipleBoxesRow #multipleBoxesHeadliner {
    -ms-flex-preferred-size: 44%;
    flex-basis: 44%;
    margin-left: 5vw; }
  .multipleBoxes .multipleBoxesRow #multipleBoxesHeadlinerPic {
    -ms-flex-preferred-size: 46%;
    flex-basis: 46%;
    margin-right: 4vw; }
  .multipleBoxes .multipleBoxesRow #multipleBoxesStockists {
    -ms-flex-preferred-size: 44%;
    flex-basis: 44%;
    margin-left: 5vw; }
  .multipleBoxes .multipleBoxesRow #multipleBoxesCheetah {
    -ms-flex-preferred-size: 45%;
    flex-basis: 45%;
    margin-right: 4vw; }
  .multipleBoxes .multipleBoxesRow #multipleBoxesBleep {
    -ms-flex-preferred-size: 60%;
    flex-basis: 60%;
    margin: 1% 18% 1% 18%; }
  .multipleBoxes2 .multipleBoxes2Content .multipleBoxes2Div {
    -ms-flex-preferred-size: 45%;
    flex-basis: 45%; } }

@media screen and (max-width: 655px) {
  .multipleBoxes .multipleBoxesRow #multipleBoxesInterview {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    margin: 0% 12% 0% 12%; }
  .multipleBoxes .multipleBoxesRow #multipleBoxesStockists {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    margin: 0% 12% 0% 12%; }
  .multipleBoxes .multipleBoxesRow #multipleBoxesCheetah {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    margin: 0% 12% 0% 12%; }
  .multipleBoxes .multipleBoxesRow #multipleBoxesBleep {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    margin: 0% 12% 0% 12%; } }

@media screen and (max-width: 650px) {
  .buttonContainer {
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 10px;
    z-index: 30; }
    .buttonContainer .buttonBurger {
      position: relative; }
  .albumsNav {
    display: none; }
  #listOpacityDiv {
    display: none; } }

@media screen and (max-width: 600px) {
  .Album h2 {
    font-size: 1.5em;
    top: 0.5%; }
  .Album p {
    font-size: 14px; } }

@media screen and (max-width: 501px) {
  #sideNav ul {
    margin-top: 70%;
    padding: 0; }
  .bannerImage .blurb {
    width: 50%;
    right: 100px; }
    .bannerImage .blurb h2 {
      font-size: 18px; }
    .bannerImage .blurb p {
      font-size: 10px; } }

@media screen and (max-width: 480px) {
  .multipleBoxes .multipleBoxesRow #multipleBoxesHeadliner {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    margin: 0% 12% 1% 12%; }
  .multipleBoxes .multipleBoxesRow #multipleBoxesHeadlinerPic {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    margin: 1% 12% 0% 12%; } }

@media screen and (max-width: 430px) {
  .Album h2 {
    font-size: 1.25em;
    top: 1%; }
  .Album p {
    font-size: 12px; } }

@media screen and (max-width: 375px) {
  .Album h2 {
    font-size: 1em;
    top: 1.5%; } }

/*====jQuery Classes===========================================*/
.active {
  color: white; }

.sideNavWidth {
  width: 60vw !important; }

.opacityForContainerDiv {
  opacity: 0.5 !important; }

.purpleBackgroundClass {
  background-color: #8f1fff; }

.whiteWritingClass {
  color: white; }

.mobileMenuDisplayClass {
  top: 0;
  position: fixed;
  z-index: 10;
  width: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
